@import './modules/variables.css';
@import './modules/utils.css';
@import './modules/animations.css';
@import './modules/layout.css';
@import './modules/list.css';

.body {
  background-image: linear-gradient(var(--primary-theme-color), var(--secondary-theme-color));
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  margin: 0;
}